<!--
<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1>Linear Model - Regression</h1>
      <h4>Predicted Value:
        <span class="badge badge-primary">{{ prediction }}</span>
      </h4>
      <hr class="my-3">
      <input type="number" class="form-control" (change)="predictLinear($event.target.value)">
    </div>
  </div>
</div>

<hr class="my-4">
-->

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-sm">
      <h3>Draw Here</h3>
      <div class="wrapper">
        <canvas appDrawable (newImage)="predict($event)"></canvas>
        <br>
      </div>
      <button class="btn btn-sm btn-warning" (click)="canvas.clear()">Erase</button>
    </div>
    <div class="col-sm">
      <h3>TensorFlow Prediction</h3>
      <chart [data]="predictions"></chart>
    </div>
  </div>
</div>